	@font-face {
		font-family: BEBAS;
		src: url(BebasNeue-Regular.otf);
		);
	}
@import url('https://fonts.googleapis.com/css?family=Roboto');

	
	
	html,
	body {
		font-family: 'Roboto', sans-serif;
		height: 100%;
	}

	
	.h1, h1 {font-family: 'Roboto', sans-serif;
	    font-weight: 300;
    font-size: 45px;
    text-decoration: none;}
	
	h1 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#404040; text-decoration: none;}}
	
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'BEBAS';
		color:#404040;
	}

	h2 {
		border-bottom: solid 5px var(--AQUA-color);
		display: inline-block;
	}

	:root {
		--AQUA-color: #2DCCD3;
		--MOCHA-color: #dcc4b8;
		--SALSA-color: #e73e52;
		--PLUM-color: #7d6990;
		--LIME-color: #b5bf35;
		--GREY-color: #414042;
		--BABYBLUESHADE-color: #8bcccd;
		--BABYBLUELINE-color: #93d0d1;
	}

	background-size: cover;
	height:100vh;
	}

	@import url('https://fonts.googleapis.com/css?family=Roboto');
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea3a7e+0,ef7458+51,e0b277+100 */

	background: #ea3a7e;
	/* Old browsers */

	background: -moz-linear-gradient(45deg,
	#ea3a7e 0%,
	#ef7458 51%,
	#e0b277 100%);
	/* FF3.6-15 */

	background: -webkit-linear-gradient(45deg,
	#ea3a7e 0%,
	#ef7458 51%,
	#e0b277 100%);
	/* Chrome10-25,Safari5.1-6 */

	background: linear-gradient(45deg,
	#ea3a7e 0%,
	#ef7458 51%,
	#e0b277 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3a7e',
	endColorstr='#e0b277',
	GradientType=1);
	/* IE6-9 fallback on horizontal gradient */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef7458+0,e0b277+0,e0b277+24,ea3a7e+100 */

	background: #ef7458;
	/* Old browsers */

	background: -moz-linear-gradient(45deg,
	#ef7458 0%,
	#e0b277 0%,
	#e0b277 24%,
	#ea3a7e 100%);
	/* FF3.6-15 */

	background: -webkit-linear-gradient(45deg,
	#ef7458 0%,
	#e0b277 0%,
	#e0b277 24%,
	#ea3a7e 100%);
	/* Chrome10-25,Safari5.1-6 */

	background: linear-gradient(45deg,
	#ef7458 0%,
	#e0b277 0%,
	#e0b277 24%,
	#ea3a7e 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7458',
	endColorstr='#ea3a7e',
	GradientType=1);
	/* IE6-9 fallback on horizontal gradient */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef7458+0,44b7e5+0,77aadd+44,8f56af+100 */

	background: #ef7458;
	/* Old browsers */

	background: -moz-linear-gradient(45deg,
	#ef7458 0%,
	#44b7e5 0%,
	#77aadd 44%,
	#8f56af 100%);
	/* FF3.6-15 */

	background: -webkit-linear-gradient(45deg,
	#ef7458 0%,
	#44b7e5 0%,
	#77aadd 44%,
	#8f56af 100%);
	/* Chrome10-25,Safari5.1-6 */

	background: linear-gradient(45deg,
	#ef7458 0%,
	#44b7e5 0%,
	#77aadd 44%,
	#8f56af 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7458',
	endColorstr='#8f56af',
	GradientType=1);
	/* IE6-9 fallback on horizontal gradient */